*{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing:border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;
}
#nav{
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -2px;

}
#nav h2{
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    border-right:2px solid black;
    font-weight: 600;
    font-size: 20px;
}
#nav h2:nth-last-child(2){
    width: 29%;
}
#nav h2:nth-last-child(1){
    width: 10%;
}
#center{
    height: 90%;
    width: 100%;
    /* background-color: blue; */
    padding: 4vw;
    position: relative;
}                                                      /*position relative dene se parent and child mai ek relation ban jata hai jisse dono ek sat move krte hai */ 
#content{      
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 55%;
    width: 100%;
    /* background:green; */
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: white;
    /* background-color:rgba(48, 41, 41, 0.251) ; */
    /* backdrop-filter: blur(5px); */
}
#over1{
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* background-color: purple; */
    margin-bottom: 1.4vw;
}
#over1 h1{
    font-family: monument;
    font-size: 3vw;
    mix-blend-mode: difference; /*background ke sath color change honge */
}
#over1 h2{
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    /* background-color: aquamarine; */
    border: 1px solid #fff;
}
#over2{
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
} 
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
}
#scroll{
    height: 40vh;
    width: 100%;
    /* background: #000; */
    /* display: flex; */
    white-space: nowrap;
    overflow-x:hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 110%;
    /* background-color: red; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    height: 100%;
    width:14%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin: 1.5vw;
    object-position: 30% 0%;
}

@keyframes anime {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#alphabet{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid black;
    margin-right: 2vw;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    /* border-bottom: 2px solid black; */
    padding: 0.6vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.2s;
}
#alphabet h6:hover{
    border: 2px solid black;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2vw 5vw;
}
#page2-part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bW9kZWx8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: top;
}
#page2-part2{
    height: 100%;
    width: 46%;
    /* background-color:red; */
}
#page2-part2 img{
    height: 68%;
    width: 100%;
    object-fit: cover;
}
#text{
    width: 100%;
    height: 32%;
    align-items: center;
    display: flex;
    justify-content:space-around;
    /* background-color: aqua; */
}
#text h1{
    width: 50%;
    height: 50%;
    /* background: #ae9f9f; */
    font-size: 20px;
    font-weight: 700;
}
#text h4{
    width: 50%;
    height: 50%;
    /* background: rgb(121, 121, 143); */
    font-size: 15px;
    font-weight: 500;
}
#page3{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    
    /* padding: 2vw 5vw; */
}
#page3 h1{
    font-size: 50px;
    font-weight: 900;
    height: 10%;
    width: 100%;
    /* background-color: blue; */
    padding-left: 5vw;
}
#part{
    width: 100%;
    height: 90%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#page3-part1{
    width: 40%;
    height: 100%;
    /* background-color: aquamarine; */
    overflow: none;
    /* position: relative; */
}
  

#page3-part2{
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
}
#page3-part2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* background-size: cover; */
   object-position: top;
    padding: 2vw;
}
#page4{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    padding: 5vw 4vw;
     background-repeat: none;
   background-size: cover;
   background-position: top;
   background-image: url(https://images.unsplash.com/photo-1622737133809-d95047b9e673?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2FsbHBhcGVyJTIwNGt8ZW58MHx8MHx8fDA%3D);
}
#page4 h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
    /* font-weight: 900; */
    margin-bottom: 5vh;
}
.elem{
    height: 14vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.226);
    /* border-top: 2px solid #232222; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    opacity: 0;
}
.elem:hover{
    /* background-color: whitesmoke; */
    opacity:1;

}

.elem h4{
    /* background-color: blue; */
    height: 100%;
    width: 100%;
    padding: 0.5vw;
    font-weight: 550;
    font-size: 20px;
    margin: 3vw;
    text-align: bottom;
    /* mix-blend-mode: difference; */
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10%;
    /* border-bottom-left-radius: 50%; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3vw 1vw;
   
}
/* .elem img:hover{
    opacity: 1;
} */

.elem-part1{
        /* background-color: red; */
        height: 100%;
        width: 100%;
    margin:20vw ;
    font-weight: 800 ;
    align-items: flex-start;
    /* mix-blend-mode: difference; */
}
#fotter{
    /* height: 100%; */
    width: 100%;
    /* background-color: red; */
    overflow-x:hidden;
    white-space: nowrap;
    overflow-y: hidden;
}
#fotter h1{
    font-size: 4vw;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    color: transparent;
    display: inline-block;
    padding: 2vw;
    margin-right: 16px;
    animation-name: fotter;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    letter-spacing: 2px;
    /* border-top: 2px solid #000; */
}

@keyframes  fotter {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}